/*
Estos son los estilos del html
*/
body{
  font-size: 16px;
  text-align: left;
  color: deeppink;
  font-family: 'Arial';
}
#container{
  widows: 70%;
  padding: 1em;
  margin: 1em auto;
}
#cabecera{
  font-size: 1.2em;
}
h1{
  font-size: 2em;
}
p{
  font-family: "Open Sans", sans-serif;
}